#content_formulario{
	position: relative;
	top: 59px;
	overflow: hidden;
}
#cabecera{
	background-color: #5884AB;
	border-radius: 5px;
	color:#fff;
	margin-bottom: 30px;
}
#formulario{
	box-shadow: 0 0 2px 0px;
	border-radius: 4px;
	background-color: #fff;
	overflow: hidden;
	width: 940px;
	padding: 30px;
	margin: 40px auto;
}
#formulario div{
	color: #42627F;
	padding: 10px 0;
}
.colum input{
	width: 100%;
	outline: none;
	border: none;
	padding-bottom: 5px;
	border-bottom: 2px solid #5884AB;
    background-color: transparent;
}
#Registro{
	display: block;
	width: 100px;
	height: 40px;
	margin:0 auto;
}
h1{
	text-align: center;
	color:#fff;
}
#izq{
	width:300px;
	margin:0 70px;
	float:left;
}
#der{
	width:300px;
	margin:0 70px;
	float:left;
}
#preview{
	border:1px solid #69f;
	margin: 0 auto;
	width:130px;
	height:130px;
	margin-bottom: 30px
}